@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse trabalho tem o tema de uma Biblioteca virtual e foi desenvolvido pelo Aluno Victor Manoel Ferreira Duarte como trabalho para materia de "applicações para Web II"</audio></a></a>.</p>
    <p> Caso queira ir ao site, <a href="/Livros" class="clique-aqui-link">Clique Aqui</a> </p>

</div>

